<a href="https://colab.research.google.com/github/atharvabaheti/DAV_03/blob/main/DAV_exp_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Aim: Getting introduced to data analytics libraries in Python and R**

**Lab Objectives:** To effectively use libraries for data analytics.

**Lab Outcomes (LO):** Explore various data analytics Libraries in R and Python. (LO1)

**Task to be performed :**

1. Explore Top-5 Data Analytics Libraries in Python (w.r.t Features & Applications)
 1. Numpy

  *   (Numerical Python) is the fundamental package for numerical computation in Python; it contains a powerful N-dimensional array object.
  *   Provides fast, precompiled functions for numerical routines
  *    Array-oriented computing for better efficiency
  *    Supports an object-oriented approach
  *    Compact and faster computations with vectorization

 2. Pandas
  *   Next in the list of python librabries is Pandads. Pandas (Python data analysis) is a must in the data science life cycle.
  *   Eloquent syntax and rich functionalities that gives you the freedom to deal with missing data
  *   Enables you to create your own function and run it across a series of data
  *   High-level abstraction
  *   Contains high-level data structures and manipulation tools
  3. PyTorch
  *   PyTorch, which is a Python-based scientific computing package that uses the power of graphics processing units.
  *   PyTorch is famous for providing two of the most high-level features
  *   tensor computations with strong GPU acceleration support
  *   building deep neural networks on a tape-based autograd system
  4. Matplotlib
   *   Usable as a MATLAB replacement, with the advantage of being free and open source
   *   Supports dozens of backends and output types, which means you can use it regardless of which operating system you’re using or which output format you wish to use
   *   Pandas itself can be used as wrappers around MATLAB API to drive MATLAB like a cleaner
   *   Low memory consumption and better runtime behavior
   5. BeautifulSoup -
   *  the next python library for data science. This is another popular python library most commonly known for web crawling and data scraping. Users can collect data that’s available on some website without a proper CSV or API, and BeautifulSoup can help them scrape it and arrange it into the required format.


2. Explore Top-5 Data Analytics Libraries in R (w.r.t Features & Applications)
  1. Dplyr
   *   mainly used for data manipulation in R. Dplyr is actually built around these 5 functions. These functions make up the majority of the data manipulation you tend to do. You can work with local data frames as well as with remote database tables.
   2. Ggplot2
  *   Ggplot2 is the one of the best library for data visualization in R. The ggplot2 library implements a “grammar of graphics” (Wilkinson, 2005). This approach gives us a coherent way to produce visualizations by expressing relationships between the attributes of data and their graphical representation.
 3. BioConductor
 * When you get into Data Science, you deal with different kinds of data. You may not know what sort of data you gotta deal with in future. If you are in health industry then trust me, you’ll find this very useful. I consider this library to be highly useful when you are working on genomic data.
 4. Shiny
 * This is a very well known package in R. When you want to share your stuff with people around you and make it easier for them to understand and explore it visually, you can use shiny. It’s a Data Scientist’s best friend. Shiny makes it easier to build interactive web apps. You can host standalone apps on a webpage or embed them in R Markdown documents or build dashboards.
 5. Knitr
 * This package is used for dynamic report generation in R. The purpose of knitr is to allow reproducible research in R through the means of Literate Programming. This package also enables integration of R code into LaTeX, Markdown, LyX, HTML, AsciiDoc, and reStructuredText documents.


3. Install 2 Libraries each for Python and R
 1. numpy
 2. beautifulsoup
 3. dplyr
 4. tidyr

In [ ]:
import numpy as np
print(np.random.randint(0, 10, size= 11))

[5 4 6 4 7 6 3 7 1 4 2]

In [ ]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)

In [ ]:
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
install.packages("tidyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

4. Perform simple experiments on the 2 identified libraries each for Python and R

In [ ]:
import numpy as np

print(np.info(np.add))

add(x1, x2, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

Add arguments element-wise.

Parameters
----------
x1, x2 : array_like
    The arrays to be added.
    If ``x1.shape != x2.shape``, they must be broadcastable to a common
    shape (which becomes the shape of the output).
out : ndarray, None, or tuple of ndarray and None, optional
    A location into which the result is stored. If provided, it must have
    a shape that the inputs broadcast to. If not provided or None,
    a freshly-allocated array is returned. A tuple (possible only as a
    keyword argument) must have length equal to the number of outputs.
where : array_like, optional
    This condition is broadcast over the input. At locations where the
    condition is True, the `out` array will be set to the ufunc result.
    Elsewhere, the `out` array will retain its original value.
    Note that if an uninitialized `out` array is created via the default
    ``out=None``, locations within it where the condition is False will
    remain uninitialized.
**kwargs
    For other keyword-only arguments, see the
    :ref:`ufunc docs <ufuncs.kwargs>`.

Returns
-------
add : ndarray or scalar
    The sum of `x1` and `x2`, element-wise.
    This is a scalar if both `x1` and `x2` are scalars.

Notes
-----
Equivalent to `x1` + `x2` in terms of array broadcasting.

Examples
--------
>>> np.add(1.0, 4.0)
5.0
>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> np.add(x1, x2)
array([[  0.,   2.,   4.],
       [  3.,   5.,   7.],
       [  6.,   8.,  10.]])

The ``+`` operator can be used as a shorthand for ``np.add`` on ndarrays.

>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> x1 + x2
array([[ 0.,  2.,  4.],
       [ 3.,  5.,  7.],
       [ 6.,  8., 10.]])
None

In [ ]:
#!/usr/bin/python3
import requests

url = 'https://notes.ayushsharma.in/technology'

data = requests.get(url)

print(data.url)

In [ ]:
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
df <- data.frame(
Name = c("vipul", "jayesh", "anurag"),
Age = c(25, 23, 22),
Score = c(95, 89, 78)
)
df

  Name   Age Score
1 vipul  25  95
2 jayesh 23  89
3 anurag 22  78

In [ ]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
install.packages("tidyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
# load the tidyr package
library(tidyr)

n = 10
# creating a data frame
tidy_dataframe = data.frame(
					S.No = c(1:n),
					Group.1 = c(23, 345, 76, 212, 88,
								199, 72, 35, 90, 265),
					Group.2 = c(117, 89, 66, 334, 90,
							101, 178, 233, 45, 200),
					Group.3 = c(29, 101, 239, 289, 176,
								320, 89, 109, 199, 56))

# print the elements of the data frame
tidy_dataframe

   S.No Group.1 Group.2 Group.3
1   1    23     117      29
2   2   345      89     101
3   3    76      66     239
4   4   212     334     289
5   5    88      90     176
6   6   199     101     320
7   7    72     178      89
8   8    35     233     109
9   9    90      45     199
10 10   265     200      56

# **Conclusion:**



*  Identified the Data Analytics Libraries in Python and R
*   Performed simple experiments with these libraries in Python and R